body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rollup {
  0% { height: 16px;}
  100%{height: 500px;}
}
.rollupTest{
  animation-duration: 1s;
	animation-name: rollup;
}
.rollupBtn{
  background: transparent;
  border:none;
  width: 360px;
  text-align: center;
  color: white;
  border:solid 1px black;
  &:hover{
    cursor: pointer;
    background-color: black;
  }
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  src: url(../src/fonts/RobotoCondensed-VariableFont_wght.ttf);
}
body{
  font-family: "Roboto Condensed";  
}
